# /
/bin
/build
/ipch
/tmp
/casparcg.opensdf
/casparcg.sdf
/casparcg.sln.docstates.suo
/casparcg.suo
/version.h
/.docstates.suo

# /common/
/common/bin
/common/tmp

# /core/
/core/My Amplifier Results
/core/bin
/core/tmp
/core/core.vcxproj.user

# /modules/bluefish/
/modules/bluefish/bin
/modules/bluefish/tmp
/modules/bluefish/bluefish.vcxproj.user

# /modules/decklink/
/modules/decklink/bin
/modules/decklink/tmp
/modules/decklink/decklink.vcxproj.user

# /modules/decklink/interop/
/modules/decklink/interop/DeckLinkAPI_h.h
/modules/decklink/interop/DeckLinkAPI_i.c

# /modules/ffmpeg/
/modules/ffmpeg/bin
/modules/ffmpeg/tmp
/modules/ffmpeg/ffmpeg.vcxproj.user

# /modules/ffmpeg/producer/filter/scalable_yadif/

# /modules/flash/
/modules/flash/bin
/modules/flash/tmp
/modules/flash/flash.vcxproj.user

# /modules/html/
/modules/html/bin
/modules/html/tmp
/modules/html/html.vcxproj.user

# /modules/image/
/modules/image/bin
/modules/image/tmp
/modules/image/image.vcxproj.user

# /modules/oal/
/modules/oal/bin
/modules/oal/tmp
/modules/oal/oal.vcxproj.user

# /modules/ogl/
/modules/ogl/bin
/modules/ogl/tmp
/modules/ogl/ogl.vcxproj.user

# /protocol/
/protocol/bin
/protocol/tmp
/protocol/protocol.vcxproj.user

# /shell/
/shell/bin
/shell/crt_log.txt
/shell/data
/shell/log
/shell/media
/shell/shell.aps
/shell/shell.vcxproj.user
/shell/templates
/shell/thumbnails
/shell/tmp

/modules/newtek/newtek.vcxproj.user
/modules/newtek/bin
/modules/newtek/tmp
/dependencies/cef
/data
/locales
/log
/media
/templates
/thumbnails
/modules/SharedMem/tmp/Release
/modules/SharedMem/bin/Debug
/modules/SharedMem/bin/Release
/modules/SharedMem/tmp/Debug
/*.suo
/modules/SharedMem/*.filters
/protocol/util/AsyncEventServer.cpp.bak
/shell/*.log
/modules/SharedMem/producer/*.bak
/modules/SharedMem/producer/SharedMem_producer - Copy.cpp
/modules/ffmpeg/producer/ffmpeg_producer - Copy.cpp
/modules/ffmpeg/producer/ffmpeg_producer - Copy.h
/modules/ffmpeg/producer/input/input - Copy.cpp
/modules/ffmpeg/producer/input/input - Copy.h
/*.zip
/modules/SharedMem/bin/Develop
/modules/SharedMem/tmp/Develop
/.vs/casparcg/v16
/modules/SharedMem/*.user
